/*.container {
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}*/

table {
  border-collapse: collapse;
}

table,
td {
  border: 1px solid white;
  background-color: beige;
  padding: 1rem;
  text-align: center;
  border-spacing: 1rem;
  margin-bottom: 3rem;
}

th {
  border: 2px solid black;
  text-align: center;
  background-color: seashell;
  padding: 1rem;
  font-variant: small-caps;
}

/*form {
  margin-bottom: 2rem;
  text-align: left;
  align-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}*/

.oculto {
  display: none;
}

.visible {
  display: block;
}

h1 {
  color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

/*fieldset {
  margin-top: 2rem;
  border: black;
}*/

/*legend {
  font-size: inherit;
}*/

#btnSubmit {
  margin-bottom: 2rem;
  background-position: 8px 5px;
  background-repeat: no-repeat;
  background-color: steelblue;
  color: white;
  padding: 5px 30px;
}

*#header {
  background-color: honeydew;
}

#footer {
    margin-top: 3rem;
    float: left;
    margin-right: 3rem;
    align-items: stretch;
  }
}

#divChecks {
  justify-content: center;
  margin-bottom: 1rem;
}

/*.titulosForm {
  margin-right: 1rem;
}*/

#nav {
  margin-top: 3rem;
  float: right;
  margin-right: 3rem;
  align-items: stretch;
}

legend {
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  border: black;
}

ul {
  list-style-type: none;
}
nav > ul > li {
  display: inline;
  padding-inline: 1rem;
  align-content: center;
}

li a:hover {
  display: inline;
  background-color: lightblue;
}

.autos {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: honeydew;
}
